*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(36deg,#A100FFFF,#119CFDFF);
}
.contanier{
    padding: 40px 30px;
    width: 50%;
    min-width: 400px;
    font-family: "montserrat" , sans-serif;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.23);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.bmi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

input[type="range"]{
    width: 60%;
    height: 4.5px;
    appearance: none;
    background-color: dimgrey;
    border-radius: 8px;
}

.bmi span{
    color: ghostwhite;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    height: .8rem;
    width: .8rem;
    background-color: rgb(245, 245, 245);
    border-radius: 45%;
    cursor: pointer;

}

#result{
    font-size: 2rem;
    text-align: center;
    letter-spacing: 2px;
    color: #57d625
}
#status{
    font-size: 1.2rem;
    text-align: center;
    color: ghostwhite ;
    letter-spacing: 1.5px;
}










